@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Staatliches&display=swap');

:root {
  --white:#ffffff;
  --primary-1: #30475e;
  --primary-1-op: #30475e50;
  --primary-2: #222831;
  --secondary-1: #f05454;
  --light-1: #dddddd;

  --main-font: "Quicksand", Roboto;
  --header-font: "Staatliches", Roboto;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--secondary-1);
  touch-action: none;
}


/* Background canvas */
#background {
  background-color: var(--primary-1);
  background: radial-gradient(circle at center, var(--primary-1) 0%, var(--primary-2) 100%);
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 120%;
  width: 100%;
}

/* Foreground containing site content */
#foreground {
  z-index: 1;
  width: 100%;
}

/* Site header */
#page-header h1 {
  font-family: var(--header-font);
  font-size: 165px;
  text-align: center;
  margin-bottom: -15px;
  padding-bottom: 5px;
  width: 100%;
  color: var(--secondary-1);
}

#page-header a {
  color: inherit;
}

#page-header a:hover {
  text-decoration: none;
}

/* Site subheader */
#page-subheader {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: start;
  align-content: flex-start;
  font-family: var(--main-font);
  background-color: var(--primary-1);
}

.header-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header-icons h2 {
  font-size: 30px;
  color: var(--light-1);
  text-align: center;
}

.header-icons i {
  margin-left: 20px;
}

.header-icons:first-child i {
  margin-left: -5px;
}

/* Navbar */
nav {
  background-color: var(--white);
  z-index: 1;
  margin: 15px 0px;
  height: 20%;
  opacity: .7;
  /* display: flex; */
}

nav:hover{
  opacity: 1;
}

.nav-link {
  font-family: "Staatliches", Roboto;
  font-size: 1.5em;
  padding: 5px 10px;
  margin: 0px 25px;
  color: var(--primary-2);
  border-color: var(--white);
  background-color: var(--white);
  border-style: solid;
  border-width: 0.5rem;
}

.nav-link:first-child {
  border-color: var(--secondary-1);
}

.nav-link:hover {
  color: var(--secondary-1);
}

.sticky {
  position: fixed;
  max-height: 10%;
  margin-top: 0px;
  top: 0;
  left: 0;
  width: 100%;
}

/* Site anchors and icons */
a {
  color: var(--primary-2);
  text-decoration: none;
}

a:hover {
  color: var(--secondary-1);
  text-decoration: underline;
}

i {
  padding: 0px 10px;
  color: var(--primary-2);
  font-size: 20pt;
}

i:hover {
  color: var(--secondary-1);
}

/* Sections */
.section {
  background-color: var(--light-1);
  font-family: var(--main-font);
  color: black;
  font-size: medium;
  display: none;
  min-width: 554px;
}

#home {
  display: flex;
}

.section-header {
  background-color: var(--primary-2);
  color: var(--secondary-1);
  font-family: var(--header-font);
  padding: 25px 0px 25px;
}

.hide {
  display: none;
  }

.rotate {
  writing-mode: vertical-lr;
  height: inherit;
}

.section-container {
  display: flex;
  flex-direction: row;
  margin: 20px;
  padding-bottom: 50px;
  /* overflow: auto; */
  justify-content: space-between;
  width: 100%;
}

.offset {
  margin-top: 14%;
}

.section-content {
  overflow-y: auto;
  max-height: 95%;
}

blockquote {
  width: 100%;
  font-size: medium;
  background: var(--white);
  border-right: 10px solid var(--secondary-1);
  font-style:italic;
  margin: 10px 20px 10px 0px;
  padding: 0.5em 10px;
  color: var(--primary-1);
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: var(--header-text-2);
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

blockquote span{
  display:block;
  text-align: right;
  font-style: normal;
  font-weight: bold;
  margin:0px 0px;
}


.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  min-width: 40%;
  background-color: var(--primary-1);
  padding: 30px;
}

#profile-figure {
  width: 85%;
  border-radius: 420px;
  border-style: solid;
  border-color: var(--primary-2);
  border-width: 0.5rem;
}

#profile-figure:hover {
  border-color: var(--secondary-1);
}

.btn:hover {
  color: var(--secondary-1);
}

.card1-title {
  font-family: var(--header-font);
  color: var(--primary-2);
  margin: 0px;
  margin-bottom: 15px;
}

.card1 {
  width: 100%;
  margin: 10px 0px;
  text-align: center;
  display: inline;
  border-radius: 0px;
  border-style: solid;
  border-color: var(--primary-1);
  border-width: 0.25rem;
  color: var(--primary-2);
  background-color: var(--white);
}

.card1:first-child {
  background-color: inherit;
  border-width: 0px;
}

.card1:hover {
  border-width: 0.15rem;
}

.card1:first-child:hover {
  border-width: 0.05rem;
}

.book{
  text-align: left;
}

#about-me-buttons-container {
  min-width: 150px;
}

.about-me-opts {
  display:block;
  background-color: var(--white);
  padding: 5px;
  margin: 0px 0px 10px;
  font-weight: bold;
  text-align: center;
  border-style: solid;
  border-color: var(--primary-1);
  cursor: pointer;
  min-width: 150px;
}


.work-experience {
  display: block;
  margin-bottom: 10px;
}

.work-experience h2 {
  color: var(--primary-2);
  text-align: center;
  background-color: var(--white);
  font-family: var(--header-font);
}

.qual-icons {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  align-items: center;
}

.qualifications {
  display: none;
  width: 100%;
}

.education {
  display: none;
  width: 100%;
}

.projects {
  display: none;
  width: 100%;
}

.education h2 {
  color: var(--primary-2);
  text-align: center;
  background-color: var(--white);
  font-family: var(--header-font);
}

.projects h2 {
  color: var(--primary-2);
  text-align: center;
  background-color: var(--white);
  font-family: var(--header-font);
}

.qualifications h2 {
  color: var(--primary-2);
  text-align: center;
  background-color: var(--white);
  font-family: var(--header-font);
}

.qualifications h3 {
  color: var(--secondary-1);
  text-align: center;
  background-color: var(--primary-1);
  font-family: var(--header-font);
  margin-top: 30px;
  padding: 5px;
}

.qualifications div {
  margin: 10px 5px 0px 5px;
  padding: 3px;
}

#research-poster {
  width: 100%;
  margin: 5px 0px 15px;
}

.logo {
  width: 100%;
  height: 100%;
  max-width: 100px;
  float: right;
  margin: 0px 0px 15px 5px;
}

#school-logo {
  width: 100%;
  max-width: 300px;
  text-align: center;
  float: left;
  margin: 5px;
}

.job-header {
  background-color: var(--primary-1);
  margin-top: 0px;
  margin: 30px 0px;
  min-width: 400px;
}

.job-header:last-child {
  margin-bottom: 0px;
}

.job-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-direction: row;
  margin: 20px;
  margin-top: 30px;
  word-wrap: none;
}

.job-title h3 {
  text-align: left;
  color: var(--secondary-1);
  font-size:150%;
  font-family: var(--header-font);
  padding: 10px;
  padding-bottom: 0px;
  min-height: 50px;
  word-wrap: none;
}

.company {
  padding-right: 10px;
  margin-right: 10px;
  margin: 0;
  text-align: right;
  font-size: medium;
  background-color: var(--white);
  color: var(--primary-1);
}

.company-logo {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  max-width: 20%;
  max-height: 50px;
  margin: 5px;
  min-width: 50px;
}

.company-logo img{
  max-width:80px;
  max-height:100%;
}

.start-end {
  color: var(--white);
  text-align: right;
}

.start-end p {
  font-size: small;
  background-color: var(--primary-2);
  padding-right: 10px;

}

/* Footer */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 20px;
  background-color: var(--white);
  margin-top: 10px
}

#poem-button {
  width: 100%;
  height: 100px;
  font-size: 30px;
  background-color: var(--primary-1);
  color: var(--secondary-1);
  font-weight: bold;
  margin: 10px 10px 10px 0px;
  border-radius: 5px;

}

/* Contact Popup */
#contact-button {
  width: 100%;
  height: 100px;
  font-size: 30px;
  background-color: var(--primary-1);
  color: var(--secondary-1);
  font-weight: bold;
  margin: 10px 10px 10px 0px;
  border-radius: 5px;
}

#contact-button:hover {
  background-color: var(--secondary-1);
  color: var(--white);
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

textarea {
  width: 100%;
}
.content-head {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 2em 0 1em;
}

.button-xlarge {
  font-size: 125%;
  background-color: var(--secondary-1);
  color: var(--primary-2);
  font-weight: bold;
}
#name, #email {
  width: 50%;
}
.honeypot-field {
  display: none;
}


/* Scroll bar */
/* width */
::-webkit-scrollbar {
  width: 12px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
  background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
  background: var(--primary-2);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-1);
  }