@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Staatliches&display=swap');

:root {
    --white:#ffffff;
    --nav-links: #222831;
    --nav-link-hover: #f05454;
    --border-hover: rgb(240, 84, 84, 0.8);
    --nav-border: #f05454;
    --section-header-background: #222831;
    --icon-color: #222831;
    --header-text-1: #f05454;
    --header-text-2: #dddddd;
    --section-header-text: #f05454;
    --header-background-1: #30475e;
    --header-background-2: #dddddd;
    --section-color: #dddddd;
    --footer-color: #222831;
    --primary-1: #30475e;
    --primary-2: #222831;
    --secondary-1: #f05454;
    --light-1: #dddddd;

}

body {
  font-family: "Quicksand", Roboto;
  margin: 0;
  padding: 0;
  background-color: var(--primary-1); 
  background: radial-gradient(circle at center, var(--primary-1) 0%, var(--primary-2) 100%);
}

.outer {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
}

#background {
  position: absolute;
  z-index: -1;
  top: 0;
  height: 120%;
  width: 100%;
}

#foreground {
  z-index: 1;
  width: 100%;
}

header {
    /* felix-mittermeier */
    /* background-image: url("../img/pexels-space.jpg"); 
    background-position: center;
    background-size: 3035px 1707px;
    background-repeat: no-repeat; */
    background-color: var(--primary-1);
    width: 100%;
}

main {
    width: 100%;
}

#page-header {
    font-family: "Staatliches", Roboto;
    font-size: 6.5rem;
    text-align: center;
    margin-bottom: -50px;;
    width: 100%;
    color: var(--secondary-1);
}


#page-header a {
    color: inherit;
}

#page-header a:hover {
    text-decoration: none;
}

header h2 {
    font-size: 30px;
    color: var(--light-1);
    padding: 30px;
    text-align: center;
}

a {
    color: var(--primary-2);
    text-decoration: none;
}

a:hover {
    color: var(--secondary-1);
    text-decoration: underline;
}

i {
    padding: 0px 10px;
    color: var(--primary-2);
    font-size: 20pt;
}

i:hover {
    color: var(--nav-border);
}

nav {
    list-style-type: none;
    overflow: hidden;
    background-color: var(--white);
    width: 100%;
    margin: 6px auto 10px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    z-index: 1;
}

.content {
    z-index: 300;
}

#navbar a {
    display: inline;
    font-size: x-large;
    font-family: "Staatliches", Roboto;
    padding: 5px 10px;
    margin: 10px 0px 10px;
    color: var(--nav-links);
    border-color: var(--white);
    border-width: 0.5rem;
    border-style: solid;
}

#navbar a:first-child {
    border-color: var(--nav-border);
}

.section {
    background-color: var(--section-color);
    color: black;
    font-size: small;
    display: none;
    overflow: auto;
}

#home {
    display: flex;
}

.section-header {
    background-color: var(--section-header-background);
    color: var(--section-header-text);
    font-family: "Staatliches", Roboto;
    padding: 25px 0px 25px;
    
}

.rotate {
    writing-mode: vertical-lr;
    height: inherit;
}

.hide {
  width: 0px;
}

.section-container {
    flex-direction: row;
    margin: 20px 20px 20px 20px;
}

.text {
    justify-items: center;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 40%;
    min-width: 450px;
    background-color: var(--primary-1);
    padding: 30px;
}


#profile-figure {
    width: 85%;
    border-radius: 420px;
    border-style: solid;
    border-color: var(--nav-link-hover);
    border-width: 0.5rem;
}

#profile-figure:hover {
  border-color: var(--primary-2);
}



.card-title {
    font-family: "Staatliches", Roboto;
    color: var(--primary-2);
    margin: 0px;
    margin-bottom: 15px;
}

.card {
    margin: 10px 0px;
    text-align: center;
    display: inline;
    min-width: 405px;
    border-radius: 0px;
    border-style: solid;
    border-color: var(--primary-1);
    border-width: 0.25rem;
    color: var(--primary-2);
    background-color: white;
}

.card:first-child {
    background-color: inherit;
    border-width: 0px;
}

.card:hover {
  border-width: 0.15rem;
}

.card:first-child:hover {
  border-width: 0.05rem;
}

.book{
    text-align: left;
}


/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    left: 0;
}

blockquote {
    font-size: medium;
    background: var(--white);
    border-right: 10px solid var(--section-header-text);
    font-style:italic;
    margin: 10px 20px 10px 0px;
    padding: 0.5em 10px;
    color: var(--header-background-1);
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
    color: var(--header-text-2);
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}


blockquote p {
    display: inline;
}


blockquote span{
    display:block;
    text-align: right;
    font-style: normal;
    font-weight: bold;
    margin:0px 10%;
}



footer {
    text-align: center;
    padding: 20px;
}