@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Staatliches&display=swap');

:root {
    --white:#f9f9f9;
    --nav-links: #222831;
    --nav-link-hover: #f05454;
    --nav-border: #f05454;
    --section-header-background: #222831;
    --icon-color: #222831;
    --header-text-1: #f05454;
    --header-text-2: #dddddd;
    --section-header-text: #f05454;
    --header-background-1: #30475e;
    --header-background-2: #dddddd;
    --section-color: #dddddd;
    --footer-color: #222831;
}

body {
    font-family: "Quicksand", Roboto;
    margin: 0px;
    background-color: var(--white);
}

header {
    /* felix-mittermeier */
    /* background-image: url("../img/pexels-space.jpg"); 
    background-position: center;
    background-size: 3035px 1707px;
    background-repeat: no-repeat; */
    background-color: var(--header-background-1);
}

header h1 {
    font-family: "Staatliches", Roboto;
    font-size: 120px;
    text-align: center;
    margin-bottom: -50px;;
    width: 100%;
    color: var(--header-text-1);
}

header h2 {
    font-size: 30px;
    color: var(--header-text-2);
    padding: 30px;
    text-align: center;
}

a {
    color: var(--nav-links);
    text-decoration: none;
}

a:hover {
    color: var(--nav-link-hover);
    text-decoration: none;
}

figure img {
    height: 350px;
    border-radius: 30px;
    border-style: solid;
    border-color: var(--nav-links);
}

i {
    padding: 0px 10px;
    color: var(--icon-color);
    font-size: 20pt;
}

i:hover {
    color: var(--nav-border);
}

article {
    margin: 0px;
    background-color: var(--white);
    color: black;
    font-size: 20pt;
}


nav {
    list-style-type: none;
    overflow: hidden;
    background-color: var(--white);
    width: 100%;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

#navbar a {
    display: inline;
    font-size: xx-large;
    font-family: "Staatliches", Roboto;
    padding: 5px 10px;
    margin: 10px 0px 20px;
    color: var(--nav-links);
    border-color: var(--white);
    border-width: 2px;
    border-style: solid;
}

#navbar a:first-child {
    border-color: var(--nav-border);
}
.section {
    background-color: var(--section-color);
    color: black;
    font-size: 18pt;
    display: none;

}

.section-header {
    background-color: var(--section-header-background);
    text-align: left;
    font-family: "Staatliches", Roboto;
    font-size: 50pt;
    min-height: 800px;
    color: var(--section-header-text);
    padding: 50px 10px;
    margin-right: 0px;
    writing-mode: vertical-lr;
}

.section-container {
    display: flex;
    margin: 20px;

}

#about-me {
    display: inline-flex;
}

#profile-figure {
    float: right;
    padding: 0px 0px 20px 10px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    left: 0;
}

blockquote {
    font-size: 16pt;;
    background: var(--white);
    border-right: 10px solid var(--section-header-text);
    font-style:italic;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    color: var(--header-background-1);
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
    color: var(--header-text-2);
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}


blockquote p {
    display: inline;
}


blockquote span{
    display:block;
    text-align: right;
    font-style: normal;
    font-weight: bold;
    margin:0px 10%;
}



footer {
    text-align: center;
    padding: 20px;
}